<html>
  <head>
    <title>Fun Facts!</title>
  </head>
  <body>
    img(src="/public/images/fun.jpeg" alt="FUN")
    <h1>Fun Fact of the Day for #{userid}:</h3>
    <h3>#{fact}</h2>
  </body>
</html>